// main colors //

$accent-color : #FBED10;


$text-color--main : #222222;
$text-color--secondary : #999999;

// border color //
$border-color: #EEEEEE;

// background color //
$bg-color:#FAFAFA;

// fonts //

$font-family-main :Roboto,
sans-serif;