<article class="main">
  <h1 class="header__title">Yield calculator</h1>
  <section class="deposit__details">
    <form class="deposit__details-form" name="details-deposit" action="data-deposit">
      <div class="type">
        <h2 class="title">Type of deposit</h2>
        <div class="type__select">
          <div class="select-value">
            <span class="select-title select-current"></span
            ><svg class="select-icon" width="24" height="24">
              <use xlink:href="images/icon/sprite.svg#icon-expand" />
            </svg>
          </div>
          <ul class="select-options">
            <li class="select-item">Standard</li>
            <li class="select-item">Premium</li>
            <li class="select-item">VIP</li>
          </ul>
        </div>
      </div>
      <ul class="currency">
        <li class="currency__item">
          <button type="button" class="currency__button" data-value="PLN">PLN</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-value="UAH">UAH</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-value="EUR">EUR</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-value="USD">USD</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-value="RUB">RUB</button>
        </li>
      </ul>

      <div class="amount__investment">
        <h2 class="title">Amount of investment</h2>
        <div class="input-box">
          <input
            class="range js__amount-range"
            value="0"
            min="10000"
            step="100"
            max="50000"
            type="range"
          />

          <input
            class="input js__amount-input"
            type="number"
            value="10000"
            placeholder="0"
            max="50000"
          /><span class="input__currency js__currentCurrency">PLN</span>
        </div>
      </div>
      <div class="term__investment">
        <div class="input-box">
          <label class="title"
            >Investment term (Months)
            <input
              class="input js__term-investment"
              type="range"
              min="1"
              max="12"
              step="1"
              value="1"
          /></label>
          <ul class="tickmarks__list">
            <li class="tickmarks__item">1</li>
            <li class="tickmarks__item">2</li>
            <li class="tickmarks__item">3</li>
            <li class="tickmarks__item">4</li>
            <li class="tickmarks__item">5</li>
            <li class="tickmarks__item">6</li>
            <li class="tickmarks__item">7</li>
            <li class="tickmarks__item">8</li>
            <li class="tickmarks__item">9</li>
            <li class="tickmarks__item">10</li>
            <li class="tickmarks__item">11</li>
            <li class="tickmarks__item">12</li>
          </ul>
        </div>
        <div class="interest__rate">
          <h2 class="title">Interest rate</h2>
          <p class="rate js__rate">
            <span class="js__interest-rate">0.75%</span> <span class="span">per month</span>
          </p>
        </div>
      </div>
    </form>
  </section>
</article>
