<article class="main">
  <h1 class="header__title">Yield calculator</h1>
  <section class="deposit__details">
    <form class="deposit__details-form" name="details-deposit" action="data-deposit">
      <div class="type">
        <h2 class="type__title">Type of deposit</h2>
        <div class="type__select">
          <div class="select-value">
            <span class="select-current">Standard</span
            ><svg class="select-icon" width="24" height="24">
              <use xlink:href="images/icon/sprite.svg#icon-expand" />
            </svg>
          </div>
          <ul class="select-options">
            <li class="select-item">Standard</li>
            <li class="select-item">Premium</li>
            <li class="select-item">VIP</li>
          </ul>
        </div>
      </div>
      <ul class="currency">
        <li class="currency__item" action>
          <button type="button" class="currency__button current" data-currency="PLN">PLN</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-currency="UAH">UAH</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-currency="EUR">EUR</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-currency="USD">USD</button>
        </li>
        <li class="currency__item">
          <button type="button" class="currency__button" data-currency="RUB">RUB</button>
        </li>
      </ul>
      <div class="amount__investment"><label for=""></label></div>
      <div class="start_investment"></div>
      <div class="end_investment"></div>
    </form>
  </section>
</article>
